// Primary
$whiteColor: #fff;
$redColor: hsl(0, 100%, 74%);
$greenColor: hsl(154, 59%, 51%);

// Accent
$blueColor: hsl(248, 32%, 49%);

// Neutral
$darkBlueColor: hsl(249, 10%, 26%);
$grayishBlueColor: hsl(246, 25%, 77%);
